{% for message in messages %}{% if message['role'] == 'user' %}|<start_of_turn>|User: {% else %}\nFalcon:{% endif %}{% if message['content'] is string %}{{ message['content'] }}|<end_of_turn>|\n{% else %}{% for content in message['content'] %}{% if content['type'] == 'image' or 'image' in content or 'image_url' in content %}|<start_of_img>||<image>||<end_of_img>|{% elif content['type'] == 'video' or 'video' in content %}|<start_of_video>||<video>||<end_of_video>|{% elif 'text' in content %}{{ content['text'] }}\n{% endif %}{% endfor %}\n{% endif %}{% endfor %}{% if add_generation_prompt %}Falcon:{% endif %}